<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.maven.core.dao.RoleDao">
    <resultMap id="roleResult" type="Role">
        <result property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="deletedAt" column="deleted_at"/>
    </resultMap>

    <select id="findRoleById" parameterType="Long" resultMap="roleResult">
        SELECT * FROM ssm_role WHERE role_id = #{id};
    </select>

    <select id="roleList" resultMap="roleResult">
        SELECT * FROM ssm_role WHERE delete_flag = 0;
    </select>

    <insert id="addRole" parameterType="Role" >

    </insert>

    <update id="updateRole" parameterType="Role">

    </update>

    <update id="deleteRole" parameterType="Long">
        UPDATE ssm_role SET delete_flag = 2 WHERE role_id = #{id};
    </update>

</mapper>